version: '3.7'

services:
  influxdb:
    image: bitnami/influxdb:1.8.5
    container_name: influxdb
    ports:
      - '8086:8086'
      - '8085:8088'
    environment:
      - INFLUXDB_ADMIN_USER_PASSWORD=password
      - INFLUXDB_ADMIN_USER_TOKEN=token
      - INFLUXDB_HTTP_AUTH_ENABLED=false
      - INFLUXDB_DB=k6_loadtest

  granafa:
    image: bitnami/grafana:latest
    ports:
      - '3000:3000'
